<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Volla senior. You know bondage Undertaker? He steal drew's title</p>
        <p>He cashed in after cm punk attacked drew. Drew was so weak</p>
        <p>Drew cameout the next night on raw, spewing hate for punk & priest</p>
        <p>He had a shot for being the number 1 contender. But as he was gonna claymore</p>
        <p>punk got his leg again. Then jay uso won</p>
    </div>
    <%- include('./partials/foot.ejs') %>

</body>
</html>